html{
     scroll-behavior: auto;
    scroll-behavior : smooth;
}
body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'EB Garamond', serif;
}

.drib {
    margin: 4px 2px 2px 2px;
    padding: 3px;
    padding: auto;
    border: 2px solid yellow;
    display: block;
    height: 97vh;
    width: 97vw;
    align-items: center;
    
}

#hleo {
    /* padding-left: 20px; */
    /* height:100; 
        width:100;  */
    background-image: url('./images/bookpch.png');
    background-color: rgba(124, 190, 187, 0.959);
    text-shadow: 2px 2px 1px #6bafa6;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    opacity: 0.9;
    /* z-index: 1;*/
} 

.container {
    margin: 0;
    height: 70px;
    align-items: center;
    background: transparent;
    /* border: 2px solid rgb(43, 255, 0); */
    /* background-color: rgb(247, 248, 248); */
    border-radius: 28px;
    position: fixed;
    position: -webkit-sticky;
    top: 0;
    width:97vw;
    /* flex-direction: row; */
    z-index: 10;
    display: flex;
    align-items: center;
    
}

ul {
    
    padding: 0;
    list-style: none;
    display: flex;
    overflow: hidden;
    
    
}

li {
    /* border: 2px solid purple; */
    float:left;
    margin: auto 12px;
   
}

li>a {
    
    text-decoration: none;
    font-size: 19px;
    font-weight: 1000;
    color: rgb(21, 48, 48);
    text-align: center;
    margin: 7px 7px ;
    text-shadow: .9px .9px .5px #6bafa6;

}

li>a:hover {
    color: rgb(33, 3, 68);
    text-decoration: underline;
    font-size: 19px;
}

li>a.active {
    color: rgb(196, 186, 186);
    text-decoration: underline;
    font-size: 20px;
}

/* div>link{
    z-index: 2;
    position: sticky;
    position: -webkit-sticky;
} */
.search-container {
    display: flex;
    margin-left: 2px;
    height: 30px;
    /* padding-left: 4px;  */
    margin-right: 12px;
    margin-left: auto;
    width: 201px;
    /* border: 1px solid black; */
    /* border-radius: 10px; */
    /* justify-content: flex-end; */
}

.search-container>input {

    border: 1px solid black;
    border-radius: 20px;
}

.search-container>button {

    border: 1px solid black;
    border-radius: 20px;
}

#hleo1{
    background-image: url('./images/cdodinggfyhhbcfghcce-34578.png') ;
    background-color: rgba(124, 190, 187, 0.959);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    opacity: 0.9;
    z-index: 3;
    ;
}#hleo2{
    background-image: url('./images/codingdsgfdvpexels-070.png');
    background-color: rgba(124, 190, 187, 0.959);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    opacity: 0.8;
    z-index: 2;
    
}#hleo3{
    background-image: url('./images/codingl.png');
    background-color: rgba(124, 190, 187, 0.959);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    opacity: 0.9;
    z-index: 1;
    
}
.transbox {
    margin: 80px 300px;
    background-color: #1f06066b;
    border: 1px solid black;
    opacity: 99%;
    height:70%;
  }
 .transbox p{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    /* font-size: larger; */
    
    } 
    h1 {
        margin: 5%;
        font-weight: bold;
        text-align: center;
        /* font-size: larger; */
        color: #000000;color: #e4e4e4;
        overflow: hidden;
        border-right: .15em solid pink;
        white-space: nowrap;
        margin: 0 auto;
        letter-spacing: .10em;
        animation: 
          typing 5.5s steps(40),
          blink-caret .75s step-end 1 alternate-reverse;
    
      }
 @keyframes typing{
    from{width: 1%}
    to{width: 100%}
 }
 @keyframes blink-caret{
    from,to{border-color: transparent}
    50%{ border-color: white;}
 }
 footer{
    position: fixed;
    bottom:0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: bisque;
    color: black;
    text-align: center;
    font-size: larger;
    text-shadow: 0.5px 0.5px rgb(224, 20, 20);



}

